.history {
  max-width: 100%;
  min-height: 600px;
  //   background-color: blue;

  //IMAGE OF THREE COFFEE CUPS
  &__image {
    max-width: 100%;
    height: 330px;
    background-image: url(../images/threecups.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  //IMAGE OF CHEF MAKING DOUGHNUTS
  &__image2 {
    max-width: 100%;
    height: 500px;
    background-image: url(../images/chef.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    max-width: 100%;
    min-height: 150px;
    // background-color: royalblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    h1 {
      font-size: 40px;
      font-family: dosisR;
      color: $site-orange;
    }
  }
  //PARAGRAPHS FOR THIS PAGE
  &__text-holder {
    max-width: 100%;
    min-height: 300px;
    // background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__left {
      max-width: 500px;
      min-height: 100px;
      //   background-color: aqua;
      padding-right: 30px;
      padding-left: 30px;
    }

    &__right {
      padding-right: 30px;
      padding-left: 30px;
      max-width: 500px;
      min-height: 100px;
      //   background-color: aqua;
    }
  }
}

@media (max-width: 1000px) {
  .history__text-holder {
    flex-direction: column;
    // min-height: 100vh;
    // background-color: aqua;

    &__left {
      padding-top: 20px;
    }
    &__right {
      padding-bottom: 30px;
    }
  }
}
