* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: dosisB;
  src: url(fonts/Dosis-Bold.ttf);
}

@font-face {
  font-family: dosisR;
  src: url(fonts/Dosis-Regular.ttf);
}

@font-face {
  font-family: urbanistL;
  src: url(fonts/Urbanist-ExtraLight.ttf);
}

@font-face {
  font-family: urbanistR;
  src: url(fonts/Urbanist-Regular.ttf);
}
